#page {
  overflow-y: hidden; }
  @media screen and (min-width: 1200px) {
    #page {
      height: calc(100vh - 80px);
      overflow: hidden; }
      #page > .row {
        height: 100%; } }
  #page .inner-wrapper {
    position: relative; }
    @media screen and (min-width: 1200px) {
      #page .inner-wrapper {
        height: calc(100vh - 80px);
        overflow-y: hidden; } }

#info-inner {
  background-color: #fff;
  padding: 30px;
  -webkit-box-shadow: -10px 10px 20px rgba(0, 0, 0, 0.1);
          box-shadow: -10px 10px 20px rgba(0, 0, 0, 0.1);
  height: 100%;
  position: absolute;
  top: 80px;
  right: -100%;
  -webkit-transition: right .25s;
  transition: right .25s; }
  #info-inner.active {
    right: 0; }
  #info-inner .media {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; }
    #info-inner .media:first-child .icon {
      background-color: #90c3f4; }
    #info-inner .media:nth-child(2) .icon {
      background-color: #f3d080; }
    #info-inner .media:nth-child(3) .icon {
      background-color: #c9acf4; }
    #info-inner .media:nth-child(4) .icon {
      background-color: #4bb7bf; }
    #info-inner .media:nth-child(5) .icon {
      background-color: #ea8993; }
    #info-inner .media:nth-child(6) .icon {
      background-color: #ffb860; }
  #info-inner .icon {
    width: 50px;
    height: 50px;
    border-radius: 35%;
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    font-size: 24px;
    margin-right: 14px;
    color: #fff; }

.bot-page .inner-wrapper {
  display: none; }

.bot-page .nav {
  border-top: 2px solid #4370bb;
  background-color: rgba(67, 112, 187, 0.1); }

.bot-page .nav-pills .nav-link {
  border-radius: 0 0 0 0;
  text-align: center; }

.bot-page .nav-link {
  padding: 10px 0;
  border-bottom: 1px solid #ccc; }
  .bot-page .nav-link.active {
    background-color: #4370bb !important; }
  @media screen and (min-width: 992px) {
    .bot-page .nav-link:hover {
      background-color: rgba(67, 112, 187, 0.8);
      color: #fff; } }

.bot-page .formatNav-block {
  background-color: #f2f2f2; }
  @media screen and (min-width: 1200px) {
    .bot-page .formatNav-block {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column;
      height: calc(100vh - 80px); }
      .bot-page .formatNav-block .format-block {
        height: calc(100% - 232px);
        overflow-y: auto;
        padding-bottom: 36px;
        padding: 4%; } }

.bot-page .format-btn {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  float: left;
  width: 43%;
  height: 140px;
  background-color: #fff;
  border-radius: 10px;
  -webkit-box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
          box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  margin: 5% 3%;
  text-align: center;
  position: relative;
  padding: 0; }
  .bot-page .format-btn > * {
    margin-bottom: 0;
    cursor: pointer; }
  .bot-page .format-btn > h5 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: 100%;
    height: 100%;
    padding: 2%; }
  .bot-page .format-btn .setting {
    position: absolute;
    bottom: 6px;
    right: 6px;
    font-size: 22px;
    z-index: 50; }
    @media screen and (min-width: 992px) {
      .bot-page .format-btn .setting:hover {
        color: #FF8D00; } }
  .bot-page .format-btn.active {
    background: #FF8D00 !important;
    color: #fff !important; }
    .bot-page .format-btn.active .setting {
      color: #fff !important; }
  .bot-page .format-btn.format-add i {
    font-size: 40px; }
  @media screen and (min-width: 992px) {
    .bot-page .format-btn:hover {
      background-color: #ffcc8d; } }

@media screen and (min-width: 1200px) {
  .bot-page .main-table {
    max-height: none;
    height: calc(100% - 125px); } }

#uploadFileModel .modal-dialog, #deleteModel .modal-dialog {
  max-width: 400px; }

#editModel .modal-dialog {
  max-width: 800px; }

.dashboard-block {
  background-color: rgba(67, 112, 187, 0.2);
  padding: 30px; }
  @media screen and (min-width: 1200px) {
    .dashboard-block {
      height: calc(100vh - 80px); } }

.dashboard-block_card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
  padding: 4%;
  background-color: #fff;
  border-radius: 5px;
  height: 24vh;
  margin-bottom: 5vh; }
  .dashboard-block_card .val {
    margin-bottom: 10px;
    font-size: 60px; }
  @media screen and (max-width: 1440px) {
    .dashboard-block_card .val {
      font-size: 48px; } }

.houseinfo {
  border-radius: 10px;
  background-color: rgba(242, 242, 242, 0.8); }
  .houseinfo > .row {
    height: 100%; }
  .houseinfo .btn {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center; }
  .houseinfo .houseinfo-price {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    font-size: 20px; }
    .houseinfo .houseinfo-price .big-price {
      color: #FF0000;
      font-size: 30px;
      margin: 0 10px; }
    .houseinfo .houseinfo-price .small-price {
      font-size: 16px;
      color: #606060;
      font-weight: 400; }
  .houseinfo .houseinfo-detail {
    margin-top: 40px; }
    .houseinfo .houseinfo-detail h5 {
      font-size: 18px; }
    .houseinfo .houseinfo-detail .label {
      font-size: 18px;
      font-weight: 500;
      margin-right: 10px; }
    .houseinfo .houseinfo-detail li {
      margin-right: 40px; }
  .houseinfo .map {
    width: 100%;
    height: 100%;
    background-color: #606060; }
  .houseinfo .houseinfo-priceBox {
    background-color: #fff;
    border-radius: 10px;
    padding: 10px; }
    .houseinfo .houseinfo-priceBox i {
      font-size: 30px;
      margin-bottom: 0; }
  .houseinfo .houseinfo-priceBox-item {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; }
    .houseinfo .houseinfo-priceBox-item h6 {
      margin-bottom: 0; }
    .houseinfo .houseinfo-priceBox-item .price {
      color: #FF0000;
      font-size: 24px; }
    .houseinfo .houseinfo-priceBox-item .price-note {
      display: block;
      margin-top: 10px;
      font-size: 16px;
      color: #606060; }

.matching-info-nav {
  margin-top: 20px; }
  .matching-info-nav li {
    width: 15%;
    text-align: center;
    margin-right: 1px; }
    .matching-info-nav li a {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      height: 100%;
      border-radius: 10px 10px 0 0;
      background-color: #BBBBBB;
      color: #fff;
      padding: 12px 20px; }
    .matching-info-nav li.active a {
      background-color: #4370bb !important; }
    .matching-info-nav li:hover a {
      background-color: rgba(187, 187, 187, 0.5); }

.matching-info {
  background-color: rgba(242, 242, 242, 0.8);
  padding: 20px;
  border-radius: 0 0 10px 10px;
  height: calc(100% - 130px); }
  .matching-info .cutover-in.show {
    height: 100%; }
    .matching-info .cutover-in.show .row {
      height: calc(100% - (40px + 1.5rem)); }
      .matching-info .cutover-in.show .row > * {
        height: 100%; }

.matching-table {
  border-radius: 0 0 10px 10px;
  height: calc(100% - 40px);
  max-height: none; }
  .matching-table table {
    background-color: #fff; }
  .matching-table .matched {
    color: #4370bb; }
  .matching-table .black td {
    background-color: #888888 !important;
    color: rgba(255, 255, 255, 0.5); }
    .matching-table .black td.blue {
      background-color: #888888 !important;
      border: none; }
  .matching-table td.blue {
    background-color: rgba(67, 112, 187, 0.1) !important;
    border-top: 1px solid rgba(222, 222, 222, 0.8); }
    .matching-table td.blue:first-child {
      border: none; }
  .matching-table th.note {
    background-color: #ec7b1b; }
  .matching-table tr:nth-child(even) td.note {
    background-color: rgba(236, 123, 27, 0.2); }
